# Emacs backup/autosave files
\#*#
*~
.\#*

bun.lock

# Config files not needed at runtime
tsconfig.json
.prettierrc
.eslintrc*
eslint.config.js

# Build/dev artifacts
node_modules/
*.log
coverage/

# Git
.git/
.github/
.gitignore

# Test files
e2e
vitest.config.ts
